<p>Text can be <strong>bold</strong>, <em>italic</em>, or <del>strikethrough</del>.</p>
<p><a href="./another-page.html">Link to another page</a>.</p>

<p>There should be whitespace between paragraphs.</p>
<p>There should be whitespace between paragraphs. We recommend including a README, or a file with information about your project.</p>
<h1 id="header-1">Header 1</h1>
<p>This is a normal paragraph following a header. GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.</p>
<h2 id="header-2">Header 2</h2>

<blockquote>
<p>This is a blockquote following a header.</p>

<p>When something is important enough, you do it even if the odds are not in your favor.</p>
</blockquote>