:host {
    display: none;
}

@media print, screen and (max-width: 720px) {
    :host {
        padding: 20px 0;
        border: 1px solid var(--clr-splitter-blockquote-and-section);
        border-width: 1px 0;
        display: block;
        margin: 0 0 20px;
    }
    
    :host h1 {
        margin: 15px 0 15px;
        line-height: 1.1;
    }
}
